* {
  font-family: "Nunito";
  color: #34495e;
}

section {
  padding: 2rem 0;
}

.banner {
  position: relative;
  padding: 3rem 1rem;
  border-radius: 10px;
}

.banner.programming {
  background: url(/images/programming.png);
  background: url(/images/programming.webp), linear-gradient(to right, #5b79a2 0%, #2e4469 100%);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.banner h1 {
  font-size: 38px;
  text-shadow: 1px 1px #000000;
}

.banner .text {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.banner .text p {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 1px 1px #000000;
}

.articles {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-row-gap: 1rem;
  row-gap: 1rem;
  grid-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.articles a,
.articles .coming-soon {
  position: relative;
  width: 400px;
  box-shadow: rgba(36, 37, 38, 0.08) 4px 4px 15px 0px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  background-color: white;
  transition: background-color 0.3s ease;
  min-height: 239px;
}

.articles a:hover,
.articles .coming-soon:hover {
  background-color: #d3e9ff;
}

.articles a .index,
.articles .coming-soon .index {
  height: 100%;
  min-height: 239px;
  background: linear-gradient(180deg, #3188ef, #205fc7);
  box-shadow: rgba(0, 0, 0, 0.17) 0px 4px 9px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles a .index span,
.articles .coming-soon .index span {
  color: white;
  padding: 1.5rem;
  flex: 1;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.articles a .index small,
.articles .coming-soon .index small {
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 0.5rem;
  white-space: nowrap;
  background: #007bff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 120px;
}

.articles a .index small i,
.articles .coming-soon .index small i {
  color: white;
}

.articles a .info,
.articles .coming-soon .info {
  margin: 1.5rem;
}

.articles a .info h2,
.articles .coming-soon .info h2 {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
}

.articles a .info p,
.articles .coming-soon .info p {
  font-size: 13px;
}

h1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  color: white;
  -webkit-background-clip: text;
          background-clip: text;
}

@media (max-width: 480px) {
  .articles {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .articles a,
  .articles .coming-soon {
    max-width: 280px;
    min-height: 277px;
  }

  .articles a .index,
  .articles .coming-soon .index {
    min-height: 277px;
  }

  .articles .info h2 {
    font-size: 16px !important;
  }
}

